.title{
	top:20px; 
	z-index:3;
}

canvas{
	position: absolute;
	top: 15px;
    left: 15px;
    border-radius: 15px;
}
.shadow{
	position: absolute;
	width: 705px;
	height: 383px;
    top: 120px;
    left: 24%;
    z-index: 10;
    justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
	background: rgba(0,0,0,0.3);
	border-radius: 20px;
	overflow: hidden;
}