.container {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 90px 0px;
	z-index: 2;
}

.container .card {
	position: relative;
	width: 500px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container .card .titulo {
	position: absolute;
	bottom: -10vh;
	width: 500px;
	height: 180px;
	background: rgba(20,20,20,0.55);
	backdrop-filter: blur(20px);
	border-radius: 0 0 40px 40px;
	opacity: 0;
	transition: 0.2s;
}

.slide:not(:hover) .titulo {
	opacity: 0;
	transform: translateY(10vh);
}

.slide:hover .titulo {
	opacity: 0.8;
	transform: translateY(-10vh);
}


.container .card .titulo h3 {
	text-shadow: white 0 0 7px;
	position: absolute;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 50px;
	text-align: center;
	top: 50px;
	left: 135px;
	line-height: 1.1em;
	transition: 0.4s;
	opacity: 0;
}

.slide:not(:hover) .titulo h3 {
	opacity: 0;
}

.slide:hover .titulo h3 {
	opacity: 1;
}

.container .card .content .imgBx {
	position: relative;
	width: 400px;
	height: 300px;
	border-radius: 10px;
	overflow: hidden;
}

.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}