body{
	height: fit-content;
}

.circles{
	height: 120%;
}

.area{
	height: 120vh;
}

.title{
	top:15px;
	z-index:3;
}



canvas{
	position: absolute;
	top: 15px;
    left: 15px;
    border-radius: 15px;
}

.shadow{
	position: absolute;
	width: 630px;
	height: 630px;
    top: 100px;
    left: 25%;
    z-index: 10;
    justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
	background: rgba(0,0,0,0.3);
	border-radius: 20px;
	overflow: hidden;
}