<!doctype html>

<html>
    <head>
        <title>Home</title>
    </head>

    <link rel="stylesheet" href="./../Css/bg.css">
    <link rel="stylesheet" href="./../Css/cards.css">

    <body>

    <div class="area" >
      <div class="container">
        <div class="card">
          <div class="content">
            <div class="imgBx">
              <img src="./../Midia/exercices_icon.png">
            </div>
            <div class="contentBx">
              <h3>Exerc&iacutecios<br><br><span>Parti&ccedil&atildeo com as resolu&ccedil&atildeo <br> dos exerc&eacutecios.</span></h3>
            </div>
          </div>
          <ul class="sci">
            <ul>
              <li>
                <a href="./Exercicios_INF216.html">INF 216</a>
              </li>
              <li>
                <a href="#">INF 284</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">INF 491</a>
              </li>
              <li>
                <a href="#">INF 493</a>
              </li>
            </ul>
          </ul>
        </div>
        <div class="card">
          <div class="content">
            <div class="imgBx">
              <img src="./../Midia/projects_icon.png">
            </div>
            <div class="contentBx">
              <h3>Projetos<br>Independentes<br><br><span>Parti&ccedil&atildeo com os meus <br> projetos pessoais.</span></h3>
            </div>
          </div>
          <ul class="sci">
            <li>
              <a href="#">Projeto Z</a>
            </li>
            <li>
              <a href="#">WIP</a>
            </li>
          </ul>
        </div>
      </div>

      

    
      <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
      </ul>

      <div class="context">
        <h1>Jean Goes - WIP</h1>
      </div>
    </div >

    

    </body>
</html>