<!doctype html>
<html>
    <head>
        <title>Exerc&iacutecios - INF 216</title>
    </head>

    <link rel="stylesheet" href="./../Css/bg.css">
    <link rel="stylesheet" href="./Slider.css">
	<link rel="stylesheet" href="./../Css/cards_ex.css">

	<body>
		
		<div class="area" >

        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

			<div class="slider">
				<input type="radio" id="trigger1" name="slider" checked autofocus>
				<label for="trigger1"></label>
				<div class="slide">
					
					<a href="./../Pratica_4/Index.html">
						<div class="container">
		        			<div class="card">
		        				<div class="titulo">
						              <h3>Prática 1</h3>
						        </div>
		        				<div class="content">
		        					<div class="imgBx">
						              <img src="./../Midia/p4.png">
						            </div>
		        				</div>
		        			</div>
		        		</div>
	        		</a>

				</div>

				<input type="radio" id="trigger2" name="slider">
				<label for="trigger2"></label>
				<div class="slide">
				  
					<a href="./../Pratica_4/Index.html">
						<div class="container">
		        			<div class="card">
		        				<div class="titulo">
						              <h3>Prática 2</h3>
						        </div>
		        				<div class="content">
		        					<div class="imgBx">
						              <img src="./../Midia/p4.png">
						            </div>
		        				</div>
		        			</div>
		        		</div>
	        		</a>

				</div>


				<input type="radio" id="trigger3" name="slider">
				<label for="trigger3"></label>
				<div class="slide">
				  
					<a href="./../Pratica_4/Index.html">
						<div class="container">
		        			<div class="card">
		        				<div class="titulo">
						              <h3>Prática 3</h3>
						        </div>
		        				<div class="content">
		        					<div class="imgBx">
						              <img src="./../Midia/p4.png">
						            </div>
		        				</div>
		        			</div>
		        		</div>
	        		</a>

				</div>

				<input type="radio" id="trigger4" name="slider">
				<label for="trigger4"></label>
				<div class="slide">
				  
					<a href="./../Pratica_4/Index.html">
						<div class="container">
		        			<div class="card">
		        				<div class="titulo">
						              <h3>Prática 4</h3>
						        </div>
		        				<div class="content">
		        					<div class="imgBx">
						              <img src="./../Midia/p4.png">
						            </div>
		        				</div>
		        			</div>
		        		</div>
	        		</a>

				</div>
			</div>

			<div class="context" style="top:20px; z-index:3;">
	            <h1>Exerc&iacutecios - INF 216</h1>
	        </div>

	       

	        <a href="./Home.html"> <img class="return" src="./../Midia/return.png" onmouseover="this.src='./../Midia/return_hover.png';" onmouseout="this.src='./../Midia/return.png';" ></a>
	    </div >
	</body>
</html>